.headerImg > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;

  }

.clickable { cursor: pointer; }

.headerCon {
    background-color: azure;
    height: 100%;
}

/* body {
background-image: url("./3014601.jpg");
background-color: rgba(0, 0, 0, 0.8); 
} */

.itemImg {
    /* float: left; */
    background-size: cover;

  }

.item {
    border-radius: 25px;
    background: #73AD21;
    /* padding: 20px; */
    /* width: 400px;
    height: 350px; */
    background-color: rgba(255, 0, 0, 0.8);

}

.center {
  text-align: center;
}


.list {
  margin: 1em 0;
  text-align: center;
}

.list img {
  width: 30vw;
  height: 30vw;
}

.list-cover img {
  object-fit: cover;
}

html,body {
  height: 100%;
}